* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.headline {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.nav {
  text-align: center;
}

.list-item {
  list-style: none;
  display: inline-block;
  margin: 15px 20px;
  padding-bottom: 50px;
}

.main1 {
  width: 800px;
  margin: 0 auto;
  display: flex;
  justify-conetent: center;
}

.content1 {
  width: 200px;
  height: 200px;
  background-color: #e6ffe9;
}

.content2 {
  width: 200px;
  height: 200px;
  background-color: #cbffd3;
}

.content3 {
  width: 200px;
  height: 200px;
  background-color: #aeffbd;
}

.content4 {
  width: 200px;
  height: 200px;
  background-color: #93ffab;
}

.main2 {
  width: 800px;
  margin: 0 auto;
  display: flex;
  justify-conetent: center;
}

.content5 {
  width: 200px;
  height: 200px;
  background-color: #f3ffd8;
}

.content6 {
  width: 200px;
  height: 200px;
  background-color: #edffbe;
}

.content7 {
  width: 200px;
  height: 200px;
  background-color: #e9ffa5;
}

.content8 {
  width: 200px;
  height: 200px;
  background-color: #e4ff8d;
}

.main3 {
  width: 800px;
  margin: 0 auto;
  display: flex;
  justify-conetent: center;
}

.content9 {
  width: 200px;
  height: 200px;
  background-color: #d9e5ff;
}

.content10 {
  width: 200px;
  height: 200px;
  background-color: #bad3ff;
}

.content11 {
  width: 200px;
  height: 200px;
  background-color: #a4c6ff;
}

.content12 {
  width: 200px;
  height: 200px;
  background-color: #8eb8ff;
}

footer {
  width: 100%;
  height: 120px;
  padding-top: 50px;
  text-align: center;
}
